<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<title>SECURITY USING ORM</title>
	</head>
	<body>
		<h3> WELCOME TO REGISTER PAGE</h3>
		<form th:action="@{/user/save}" method="POST">
		<pre>
			NAME   : <input type="text" name="userName"/>
			EMAIL  : <input type="text" name="userEmail"/>
			PASSWD : <input type="password" name="userPwd"/>
			ROLES :
				<input type="checkbox" name="userRoles" value="ADMIN"/> ADMIN
				<input type="checkbox" name="userRoles" value="CUSTOMER"/> CUSTOMER
				<input type="submit" value="Create User"/>
		</form>
		</pre>
		<div>[[${message}]]</div>
		<a th:href="@{/}">Goto Home Page</a>
	</body>

</html>