<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <a class="navbar-brand text-white">R-APP</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/all">VIEW ALL </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/create">REGISTER</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-white"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-expanded="false"
        >
          OPERATIONS
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/all">VIEW ALL</a>
          <a class="dropdown-item" routerLink="/create">REGISTER</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
