<h3 class="text-center">STUDENTS EDIT PAGE</h3>
<form (ngSubmit)="updateStudent()">
  ID :
  <input
    type="text"
    name="stdId"
    id="stdId"
    [(ngModel)]="student.stdId"
    class="form-control"
    readonly
  />
  NAME :
  <input
    type="text"
    name="stdName"
    id="stdName"
    [(ngModel)]="student.stdName"
    class="form-control"
  />
  GENDER :
  <input
    type="radio"
    name="stdGen"
    id="stdGen"
    [(ngModel)]="student.stdGen"
    value="Male"
  />
  Male
  <input
    type="radio"
    name="stdGen"
    id="stdGen"
    [(ngModel)]="student.stdGen"
    value="Female"
  />
  Female
  <br />
  COURSE :
  <select
    name="stdCourse"
    id="stdCourse"
    [(ngModel)]="student.stdCourse"
    class="form-control"
  >
    <option value="JAVA">JAVA</option>
    <option value="DOT NET">DOT NET</option>
    <option value="DEVOPS">DEVOPS</option>
    <option value="SALESFORCE">SALESFORCE</option>
  </select>
  ADDRESS:
  <textarea
    name="stdAddr"
    id="stdAddr"
    [(ngModel)]="student.stdAddr"
    class="form-control"
  ></textarea>
  <br />
  <button type="submit" class="btn btn-success">UPDATE STUDENT</button>
</form>
